p.border {
 text-align:center;
}
ol.vivi {
    background: #ff9999;
    padding: 20px;
}

ul.vivi {
    background: #000000;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
}

ol li.vivi {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

ul li.vivi {
    background: #cce5ff;
    margin: 5px;
}
.viv{
    border-collapse:collapse;
    margin-left: auto;
    margin-right:right;
}

table{
  margin-left:auto;
  margin-right:auto;
    text-align:center;
    border-collapse:collapse;
}
tr{
    border: 1px solid #ffffff;
    text-align:center;
    background-color: #48D1CC;
}
th{
    text-align:center;
    color: #ffffff;
    background-color: #000000;
}
img{
    margin:auto;
}
body{
    background-image: url("images/pattern.jpg");
}
thicker {
    font-weight: 900;
}
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    list-style-type: circle;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
