p.border {
 text-align:center;
}
ul.vivi{
    text-align:center;
    float:right;
}
.viv{
   margin-left: auto;
   margin-right:auto;
   text-align: center
}
th.vivi{
    text-align:center;
    color: #ffffff;
    background-color: #000000;
}
table{
  margin-left:auto;
  margin-right:auto;
    text-align:center;
    border-collapse:collapse;
    cellspacing: 0px; 
}
tr{
    border: 1px solid #ffffff;
    text-align:center;
    background-color: #48D1CC;
}
th{
    text-align:center;
    color: #ffffff;
    background-color: #000000;
}
img{
    margin:auto;
}
body{
    background-image: url("images/pattern.jpg");
}
thicker {
    font-weight: 900;
}
